body {
	margin: 0;
    display: flex;
    height: 100vh;
    flex-direction: column;
	background-color: var(--background-color);
}

header {
	height: 50px;
	display: flex;
	padding: 10px;
	align-items: center;
	justify-content: space-between;
	background-color: var(--secondary-background);
}

hr {
	margin: 0;
}

main {
	height: 100%;
	display: flex;
	flex-direction: column;
	height: calc(100% - 72px);
}

main > div:first-child {
	border-right: 2px solid rgb(238, 238, 238);
	border-left: 2px solid rgb(238, 238, 238);
	background-color: var(--primary-color);
	height: calc(100% - 80px);
	border-right-style: groove;
	border-left-style: groove;
	margin: 0 auto;
    width: 80%;
}

a {
	outline: 0;
	color: black;
}

.icon-links {
	display: flex;
    align-items: center;
}

.icon-links > span, .icon-links > a {
	margin-right: 5px;
}

#text-logo {
	text-decoration: none;
}

#page-title {
	text-transform: capitalize;
}

#home,
#subreddit,
#user-profile,
#post-container,
.comment-options {
	display: flex;
}

#home > #content {
	width: 19.8%;
	flex-grow: 2;
}

#music-list {
	width: 332.5px;
	overflow-y: scroll;
}

.song {
	margin: 5px;
	height: 66px;
	display: flex;
	overflow: hidden;
	padding: 5px 10px;
	align-items: center;
	border-radius: 10px;
	justify-content: space-between;
	background-color: var(--content-background);
}

.song .song-item {
	display: flex;
	max-width: 251.5px;
	align-items: center;
}

.song .song-info {
	margin: 0px 8px;
	overflow: hidden;
}

.song .song-options {
	display: flex;
	flex-direction: column;
}

.song .name {
	overflow: hidden;
	margin-bottom: 5px;
	white-space: nowrap;
	font-weight: bolder;
    text-overflow: ellipsis;
}

.song .artists {
	margin-top: 0;
	font-size: small;
	margin-left: 5px;
}

#popular-subreddits {
	width: 233.5px;
}

#popular-subreddits > .subreddit {
	padding: 0;
	margin: 10px 20px;
	justify-content: center;
}

#popular-subreddits p {
	display: none;
}

#music-list > h2,
#popular-subreddits > h2 {
	margin: 15px 10px;
}

#login, #signup {
	margin: auto;
	display: flex;
	overflow: hidden;
	text-align: center;
	flex-direction: column;
}

#login > a,
#signup > a {
	margin: 10px 20px;
}

#signup .helptext {
	display: block;
}

#signup ul {
	list-style: none;
}

#player {
	width: 100%;
	height: 80px;
	align-self: flex-end;
	background-color: var(--secondary-background);
}

#comments {
	margin: 10px;
}

#comments ul {
	list-style: none;
}

.comment {
	flex-direction: column;
}

.comment-content > p {
	margin-left: 10px;
}

.comment-content h3 {
	margin: 5px;
}

.comment-options > * {
	margin-right: 5px;
}

.post, .comment {
	background: var(--content-background);
    border-radius: 10px;
	border: 2px solid;
	margin: 15px 10px;
	display: flex;
	padding: 5px;
}

.post-voting-buttons {
	display: flex;
    align-items: center;
    flex-direction: column;
}

.comment-voting-buttons {
	display: flex;
	align-items: center;
}

.post-voting-buttons > span,
.comment-voting-buttons > span {
	font-size: x-large;
}

.post-voting-buttons > .active-button,
.comment-voting-buttons > .active-button,
.song-options > .active-button {
	background-color: var(--accent-color);
}

.post-voting-buttons > a,
.comment-voting-buttons > a,
.song-options > a {
	padding: 5px;
	border-radius: 5px;
	transform: scale(.8);
}

.post-content {
	flex-grow: 1;
}

.post-header{
    display: flex;
    justify-content: space-between;
}

.post-header, .post-options {
	padding: 5px 10px;
}

.post-body {
	margin: 0 10px;
}

.post-body > p {
	margin: 10px;
}

.post-body h1,
.post-body h2,
.post-body h3 {
	margin: 0;
}

#user-content, #subreddit-content, #post-content {
	flex-grow: 3;
	overflow-y: scroll;
}

#user-content > ul, #subreddit-content > ul {
	padding: 0;
}

#user-content > div {
	margin: 10px;
}

#user-content > div > h2 {
	text-decoration: underline;
}

#user-info {
	flex-grow: .5;
	text-align: center;
}

#subreddit-info {
	flex-grow: .5;
	text-align: center;
}

#user-info ul, #subreddit-info ul {
	list-style: none;
	padding: 0;
}

#subreddit-info ul > li {
	margin: 5px 0;
}

.subreddit {
	display: flex;
    margin: 10px 50px;
    padding: 10px 20px;
	align-items: center;
    border-radius: 10px;
    justify-content: space-between;
    background: var(--content-background);
}