{% extends 'homepage.html' %}
{% load mptt_tags %}
{% include "navbar.html" %} 
{% block title %}Comment{% endblock %}
{% block content %}


<div id="post-container">
  <div id="post-content">
    {% if not post.is_comment %}
    {% include 'post_template.html' %}
    {% else %}
    {% include 'comment_template.html' with comment=post %}
    {% endif %}
    <hr>
    <div id="comments">
      <h2>Add a Comment</h2>
<form action="" method="post">
  {% csrf_token %} {{ form.as_p }}
    <input type="submit" value="Submit" />
</form> 
{% if error %}
  <div class="error">{{error}}</div>
{% endif %}
    </div>
  </div>
  <hr>
</div>
{% endblock content %}