{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}Home{% endblock %}</title>
	<link rel="stylesheet" href="{% static 'style.css' %}">
	<link rel="stylesheet" href="{% static 'theme_three.css' %}">
    <script src="{% static 'script.js' %}" defer></script>
	<script src="https://unpkg.com/feather-icons"></script>
	<script>
		let access_token = '{{request.user.access_token}}';
	</script>
</head>
<body class="theme-vars">
	<header>
		<a href="/" id="text-logo"><h1>LOGO</h1></a>
        <h2 id="page-title"></h2>
		<div>
			{% if request.user.is_authenticated %}
			{% if request.user.is_staff and request.user.is_superuser %}
			<a href="/admin/"><button>Admin</button></a>
			{% endif %}
			<a href="/subreddit/browse/"><button>Browse Subreddits</button></a>
			<a href="/profile/{{request.user.id}}"><button>Profile</button></a>
			<a href="/logout"><button>Logout</button></a>
			{% else %}
			<a href="/login/"><button>Login</button></a>
			{% endif %}
		</div>
	</header>
	<hr>
	<main>
		{% block content %}
        <div id="home">
			<nav style="display: none;">
				<a href="/admin"><button>Admin</button></a>
				<a href="/create_post"><button>Create a Post</button></a>
			</nav>
			<div id="music-list">
				<h2>Recently Played</h2>
				<hr>
				{% for item in recently_played.items %}
				{% include 'song_template.html' with song=item.track %}
				{% endfor %}
			</div>
			<hr>
            <div id="content">
				{% for post in posts %}
				{% include 'post_template.html' %}
				{% endfor %}
			</div>
			<hr>
            <div id="popular-subreddits">
				<h2>Popular Subreddits</h2>
				<hr>
				{% for subreddit in popular_subreddits %}
				{% include 'subreddit_list_template.html' %}
				{% endfor %}
			</div>
		</div>
		{% endblock content %}
		<hr>
        <div id="player">
			<iframe src="https://open.spotify.com/embed/track/04U72dJzpaGsMl4edd1ZyX" width="100%" height="100%" frameBorder="0" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture; transparency;"></iframe>
		</div>
	</main>
</body>
</html>
