<nav>

    {% if ust.is_authenticated %}
    <button><a href="/admin/">Admin</a></button>
    <button><a href="/logout/">Logout</a></button>
    <button><a href="/profile/{{ request.user.id }}/">User Profile</a></button>
  
    <br />
    <button><a href="/create_post/">Create a Tweet</a></button>
    <button><a href="/notifications/">Notifications</a></button>
    {% else %}
    <button><a href="/">Home</a></button>
    <button><a href="/login/">Login</a></button>
    <button><a href="/signup/">Signup</a></button>
    
    {% endif %}
  </nav>
  