<div class="post">
	<div class="voting-buttons">
		<a href="/post/{{post.id}}/upvote"><button><i data-feather="arrow-up"></i></button></a>
		<span>0</span>
		<a href="/post/{{post.id}}/downvote"><button><i data-feather="arrow-down"></i></button></a>
	</div>
	<hr>
	<div class="post-content">
		<div class="post-header">
			<span>r/{{post.subreddit}} | Posted by u/{{post.author}}</span>
		</div>
		<hr>
		<div class="post-body">
			<h2>{{post.title}}</h2>
			<p>{{post.body}}</p>
		</div>
		<hr>
		<div class="post-options"></div>
	</div>
</div>