<div class="post">
	<div class="voting-buttons">
		<a href="/post/{{post.id}}/upvote"><i data-feather="arrow-up"></i></a>
		<span>0</span>
		<a href="/post/{{post.id}}/downvote"><i data-feather="arrow-down"></i></a>
	</div>
	<hr>
	<div class="post-content">
		<div class="post-header">
			<span>
				<a href="/subreddit/{{post.subreddit.id}}">
					<b>r/{{post.subreddit}}</b>
				</a>
				| Posted by
				<a href="/profile/{{post.author.id}}">u/{{post.author}}</a>
			</span>
		</div>
		<hr>
		<div class="post-body">
			<h2><a href="/post/{{post.id}}/">{{post.title}}</a></h2>
			<p>{{post.body}}</p>
		</div>
		<hr>
		<div class="post-options">
			<a href="/post/{{post.id}}/#comments" class="icon-links"><i data-feather="message-square"></i> <span>{{comments_count}} Comments</span></a>
		</div>
	</div>
</div>